@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'nyght';
    src: url(fonts/NyghtSerif-Medium.woff) format('woff'),
         url(fonts/NyghtSerif-Medium.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nyght';
    src: url(fonts/NyghtSerif-RegularItalic.woff) format('woff'),
         url(fonts/NyghtSerif-RegularItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}
body{
    margin: 0;
    display: flex;
    position: relative;
    /* height: 100vh; */
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.75rem, 0.3059rem + 1.5789vw, 1.2rem);
}

#imageContainer{
    position: fixed;
    height: 100vh;
    width: 33vw;
    /* flex:1; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-image: url(https://images.unsplash.com/photo-1713431192383-5e2b7f900790?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.16);
}

#logoContainer{
    background: rgba(57, 57, 57, 0.507);
    box-shadow: 0 8px 32px 0 rgba(63, 63, 63, 0.432);
    backdrop-filter: blur( 4px );
    margin-top: 45%;
    padding: 20px 0px;  
}

#logo{
    font-family: 'nyght',serif;
    font-style: italic;
    color: whitesmoke;
    text-align: center;
    font-size: clamp(2.4rem, -0.1364rem + 9.0182vw, 5.5rem);
}

#main{
    
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw 10vw 5vw 3.5vw;
    gap: 5vh;
}

p{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#text{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.tagline{
    font-family: 'nyght',serif;
    /* font-size: 2.5rem; */
    /* font-size: .5rem; */
}

fieldset{
    display: flex;
    appearance: none;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
}

.half{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

legend{
    padding: 0;
    margin-bottom: 2vh;
}

label{
    display: flex;
    flex-direction: column;
}

input{
    width: 20vw;
}

form{
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

#login{
    display: flex;
    flex-direction: column;
    gap: 2vh;

}
button{

    width: clamp(6.5rem, -2.3816rem + 31.5789vw, 15.5rem);
    height: clamp(1.75rem, 0.7632rem + 3.5088vw, 2.75rem);

    font-size: inherit;
}



